{% extends 'core/base.html' %} 
{% load static %} 
{% block title %}Reguladores Solares{% endblock %} 
{% block content %}
<section class="page-section clearfix">
   <div class="container">
      <h2 class="section-heading mb-4">
         <span class="section-heading-upper">Da de alta un nuevo regulador</span>
      </h2>
      <div class="bg-faded rounded px-5">
         <!-- formulario -->
         <form method="POST" action="{% url 'controller_add' kit.id %}">
            {% csrf_token %} 
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Dar de alta</button>
         </form>
         <!-- fin formulario -->
      </div>
   </div>
</section>
{% endblock %}