{% extends 'core/base.html' %}
{% load static %}
{% block title %}Equipos Solares{% endblock %}
{% block content %}
<section class="page-section clearfix">
  <div class="container">
    <h2 class="section-heading mb-4">
      <span class="section-heading-upper">Eliminar regulador</span>
    </h2>
    <div class="bg-faded rounded px-5 mb-3">
        <p>¿Está seguro de que desea eliminar el regulador {{ kit.charge_controller.brand }} - {{ kit.charge_controller.type }} - {{ kit.charge_controller.max_voltage }}/{{ kit.charge_controller.max_amps }} ?</p>
        <form method="POST" action="{% url 'controller_delete' kit.id controller.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-xl mt-2">Eliminar</button>
            <a class="btn btn-secondary btn-xl mt-2" href="{% url 'kit_detail' kit.id %}">Cancelar</a>
        </form>
    </div>
  </div>
</section>
{% endblock %}