{% extends 'core/base.html' %}
{% load static %}
{% block title %}Equipos Solares{% endblock %}
{% block content %}
<section class="page-section clearfix">
   <div class="container">
      <h2 class="section-heading mb-4">
         <span class="section-heading-upper">Crea un nuevo equipo solar</span>
      </h2>
      <div class="bg-faded rounded px-5">
         <!-- formulario -->
         <form method="POST" action="{% url 'kit_create' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Crear</button>
         </form>
         <!-- fin formulario -->
      </div>
   </div>
</section>
{% endblock %}