{% extends 'core/base.html' %}
{% load static %}
{% block title %}Equipos Solares{% endblock %}
{% block content %}
<section class="page-section clearfix">
   <div class="container">
      <h2 class="section-heading mb-4">
         <span class="section-heading-upper">Actualiza tu equipo solar</span>
      </h2>
      <div class="bg-faded rounded px-5 mb-4">
         <!-- formulario -->
         <form method="POST" action="{% url 'kit_update' kit.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-2">Actualizar</button>
            <a class="btn btn-secondary btn-xl mt-2" href="{% url 'kit_detail' kit.id %}">Cancelar</a>
         </form>
         <!-- fin formulario -->
      </div>
   </div>
</section>
{% endblock %}