{% extends 'core/base.html' %} {% load static %} {% block title %}Placas
Solares{% endblock %} {% block content %}
<section class="page-section clearfix">
  <div class="container">
    <h2 class="section-heading mb-4">
      <span class="section-heading-upper">Da de alta una nueva placa solar</span>
    </h2>
    <div class="bg-faded rounded px-5">
      <!-- formulario -->
      <form method="POST" action="{% url 'panel_add' kit.id %}">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Dar de alta</button>
      </form>
      <!-- formulario -->
    </div>
  </div>
</section>
{% endblock %}
