{% extends 'core/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<section class="page-section clearfix">
   <div class="container">
   {% if object_list %}
      <div class="intro-button my-5">
         <a class="btn btn-primary btn-xl" href="{% url 'data_table' kit.id year month %}">Ver datos en tabla</a>
      </div>
   {% endif %}
   <div class="bg-faded rounded">
      <form method="POST" action="{% url 'data_chart' kit.id year month %}">
         {% csrf_token %}
            <h2 class="section-heading my-4">
               <span class="section-heading-upper">Selecciona el mes y año</span>
            </h2>
            {{ form.as_table }}
            <button type="submit" class="btn btn-info btn-sm mx-4">Ver</button>
      </form>
   </div>
   <h2 class="section-heading my-4">
      <span class="section-heading-upper">Histórico de registros</span>
   </h2>
   {% if object_list %}
      <div id="chartjs-contener" style="width: 100%; height: 80% backgroundColor: grey">
         <canvas id="myChart" width="400" height="200"></canvas>
      </div>
   {% else %}
      <div class="bg-faded rounded">
         <p>No hay registros disponibles.</p>
      </div>
   {% endif %}
   {% if kit.active %}
      <div class="intro-button my-5">
         <a class="btn btn-primary btn-xl" href="{% url 'data_add' kit.id %}">Añadir registro</a>
      </div>
      <div class="intro-button my-5">
         <a class="btn btn-primary btn-xl" href="{% url 'data_add_file' kit.id %}">Añadir fichero csv con registros</a>
      </div>
   {% endif %}
   </div>
</section>
{{ labels|json_script:"labels-data" }}
{{ values|json_script:"values-data" }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="{% static 'data/js/chart.js' %}"></script>
<script>
   var labels = JSON.parse(document.getElementById('labels-data').textContent);
   var values = JSON.parse(document.getElementById('values-data').textContent);
   var label = "{{ label }}";
   dashchart(labels, values, label);
 </script>
{% endblock %}